.hero{
    background-color:#1ABC9C ;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.he{
    font-size: 40px;
    font-weight: 700;
    color: white;
    margin-top: 20px;
}
.ee{width: 83%;}
.lo{
    width:78px ;
    height:4px ;
    background-color: white;
}